###  Dictionary

Create Dictionary for following information as "person1":
   - Name = Srikanth
   - Gender= Male
   - Occupation = Data Scientist
   - Location  = Nizampet, Hyderabad

In [2]:
# CODE HERE
person1={"Name" : "Srikanth",
"Gender": "Male",
"Occupation" : "Data Scientist",
"Location" : "Nizampet, Hyderabad"}
print(person1)

{'Name': 'Srikanth', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Location': 'Nizampet, Hyderabad'}

In [2]:
person1

{'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> print keys in person1 as a list

In [6]:
# CODE HERE
list(person1.keys())

['Name', 'Gender', 'Occupation', 'Location']

In [7]:
#  CODE HERE
list(person1.keys())

['Name', 'Gender', 'Occupation', 'Location']

> Srikanth age is 27. Assign his age in person1 as key "Age"

In [ ]:
# CODE HERE

In [8]:
person1["Age"] = 27
print(person1)

{'Name': 'Srikanth', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Location': 'Nizampet, Hyderabad', 'Age': 27}

In [5]:
person1

{'Age': 27,
 'Gender': 'Male',
 'Location': 'Nizampet, Hyderabad',
 'Name': 'Srikanth',
 'Occupation': 'Data Scientist'}

> Remove Location in person1

In [9]:
# CODE HERE
person1.pop('Location')
print(person1)

{'Name': 'Srikanth', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Age': 27}

> Create dictionary of person2 with
- Name  = Raghu Ram
- Gender = Male
- Age  = 25
- Occupation = Data Scienctist

In [ ]:
# CODE HERE

In [11]:
person2={"Name" : "Raghu Ram",
"Gender" : "Male",
"Age" : 25,
"Occupation" : "Data Scienctist"}
print(person2)

{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scienctist'}

In [8]:
person2

{'Age': 25,
 'Gender': 'Male',
 'Name': 'Raghu Ram',
 'Occupation': 'Data Scientist'}

> Append values on Person1 and Person2

In [20]:
print('='*20,'person1','='*20)
print(person1)
print('='*20,'person2','='*20)
print(person2)

==================== person1 ====================
{'Name': 'Srikanth', 'Gender': 'Male', 'Occupation': 'Data Scientist', 'Location': 'Nizampet, Hyderabad'}
==================== person2 ====================
{'Name': 'Raghu Ram', 'Gender': 'Male', 'Age': 25, 'Occupation': 'Data Scienctist'}

# create a dictionary
#### remove the elements from that dictionary using different methods
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}

In [34]:
# CODE HERE
dict1={1: 1, 2: 4, 3: 9, 4: 16, 5: 25,6:36,7:49}
print(dict1)
dict1.popitem()
print(dict1)
dict1.pop(1)
print(dict1)
del dict1[6]
print(dict1)
dict1.popitem()
dict1.popitem()
dict1.popitem()
dict1.popitem()
print(dict1)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
{2: 4, 3: 9, 4: 16, 5: 25, 6: 36}
{2: 4, 3: 9, 4: 16, 5: 25}
{}

{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
### print the values from the above dictionary in descending order

In [39]:
# CODE HERE
dict2={0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
print(dict2)
nums=dict2.values()
nums1=list(nums)
nums1.sort(reverse=True)
print(nums1)

{0: 0, 1: 1, 3: 9, 5: 25, 7: 49, 9: 81}
[81, 49, 25, 9, 1, 0]

database = {'ram':1234,'raghu':5678,'kanav':1357}
## Tasks :-
### 1. if the username and password matches print hello username
### 2. if the username and password doesnot match, ask, you want me to add into the database
### 3. show the updated database list

In [ ]:
database = {'ram':1234,'raghu':5678,'kanav':1357}
condition=0

 
while condition==0:
    username = input("user")
    password = input("password")
   
    if username not in database:
        print("This is not a valid username, input username again!")
        continue
    elif int(password) != int(database[username]):
        print(database[username])
        print(password)
        print("Password is not valid for {username}. ")
        continue
    elif int(password) == int(database[username]):
        print("Welcome {username} ")
        print("Thank you for logging on. ")
        condition=1
        break

usersri
password1234
This is not a valid username, input username again!

### merge the below 3 dictionaries
dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

In [41]:
# CODE HERE
dict1 = { 'a': 1, 'b': 2 } 
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }
{**dict1, **dict2 , **dict3}

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

In [3]:

dict1 = { 'a': 1, 'b': 2 }
dict2 = { 'b': 3, 'c': 4 }
dict3 = { 'c': 5, 'd': 6 }

{'a': 1, 'b': 3, 'c': 5, 'd': 6}

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)