###  LIST

Create a list of numbers
> nums = [1,2,3,4]

In [30]:
l1=[1,2,3,4]
print(l1)

[1, 2, 3, 4]

** 1. Remove number "3" in a list**

In [31]:
# Method 1 
l1=[1,2,3,4]
pop=l1.pop(2)
#print(pop)
print(l1)

[1, 2, 4]

In [32]:
# Method 2
l1=[1,2,3,4]
l1.remove(3)
print(l1)

[1, 2, 4]

In [33]:
# Method 3
l1=[1,2,3,4]
del l1[2]
print(l1)

[1, 2, 4]

** Remove last element in the list **
> hint: remove 4 (L.pop)

In [34]:
l1.pop()

4

**Check nums.pop(0) ** 
> write you comment after executing this command

In [35]:
         # removes zeroth position
l1=[1,2,3,4]
l1.pop(0)

1

 **Extent** list (3,4)
 > **hint: nums.extend([3,4])

In [36]:
# Method1
l1=[2]
l1.extend([3,4])
print(l1)

[2, 3, 4]

In [37]:
#Method 2
l1=[2]
l2=[3,4]
l3=l1+l2
print(l3)

[2, 3, 4]

**Insert number "1" in 0th position**

In [38]:
l1=[2,3,4]
l1.insert(0,1)
print(l1)

[1, 2, 3, 4]

**Insert "two-and-half" in 2nd position**

In [39]:
l1=[1,2,3,4]
l1.insert(1,'two-and-half')
print(l1)

[1, 'two-and-half', 2, 3, 4]

[1, 2, 'two-and-half', 3, 4]

**2. Create a list with name plist with phrase = "Don't panic!"**

In [40]:
plist="Don't panic!"
print(plist)

Don't panic!

*convert into list*

In [103]:
s=list(plist)
print(s)

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

['D', 'o', 'n', "'", 't', ' ', 'p', 'a', 'n', 'i', 'c', '!']

Remove ** '** and **!** in the list

In [41]:
s=list(plist)
s.remove("'")
s.remove('!')
print(s)

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

['D', 'o', 'n', 't', ' ', 'p', 'a', 'n', 'i', 'c']

**Remove "p" , "a", "n","D" and extend the list at the last**

In [42]:
s=list(plist)
s.remove("'")
s.remove('!')
s.remove("p")
s.remove("a")
s.remove("n")
s.remove("D")
print(s)
s1=["p" , "a", "n","D"]
s.extend(s1)
print(s)

['o', 't', ' ', 'n', 'i', 'c']
['o', 't', ' ', 'n', 'i', 'c', 'p', 'a', 'n', 'D']

['o', 'n', 't', ' ', 'i', 'c', 'p', 'a', 'n', 'D']

**Explain how ?**

**Joining List**

**Extract last 4 element in plist and append "a" and name as plist1**

- Extract list

In [43]:
plist=s

plist[-4:]

['p', 'a', 'n', 'D']

In [44]:
plist=s
print(plist)
plist2=plist[-4:]
print(plist2)

['o', 't', ' ', 'n', 'i', 'c', 'p', 'a', 'n', 'D']
['p', 'a', 'n', 'D']

- append list

In [45]:
plist2.append('a')
print(plist2)

['p', 'a', 'n', 'D', 'a']

In [46]:
plist1=plist2
print(plist1)

['p', 'a', 'n', 'D', 'a']

- Join list

In [47]:
''.join(plist1)

'panDa'

###  Tuples

Create a tuples for numbers 31,24,35,85 as nums

In [111]:
# CODE HERE
a = (31,24,35,85)
print(a)
print(type(a))

(31, 24, 35, 85)
<class 'tuple'>

In [112]:
a = (31,24,35,85)
print(a)
print(type(a))

(31, 24, 35, 85)
<class 'tuple'>

** Remove number "35" in a tuple**

*Hint:* Convert into list

In [115]:
# CODE HERE
b=list(a)
b.remove(35)

a1=tuple(b)
print(a1)

(31, 24, 85)

In [12]:
# CODE HERE
b=list(a)
b.remove(35)

a1=tuple(b)
print(a1)

(31, 24, 85)

**Extent** tuple (85,19)

In [116]:
# CODE HERE
a2=(85,19)
a3=a1+a2
print(a3)

(31, 24, 85, 85, 19)

In [117]:
# CODE HERE
a2=(85,19)
a3=a1+a2
print(a3)

(31, 24, 85, 85, 19)

### If the following string is given as input to the program:

- '5 2 3 6 6 5'

#### FInd the secong higest value from that

In [20]:
# CODE HERE
#list_input='5 2 3 6 6 5'
list_input=input()
list1=list(list_input)
list2=[]
for x in list1:
    if x not in list2:
        list2.append(x)
#print(list2)
list2.sort()
#print(list2)
a1=max(list2)
#print(a1)


 
print("Second largest element is:", list2[-2])

523665
Second largest element is: 5

### By using list comprehension, please write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155].

In [19]:
# CODE HERE
list6=[12,24,35,70,88,120,155]
unwanted_num = {list6[0], list6[4],list6[5]}
list6 = [i for i in list6 if i not in unwanted_num]
print(list6)

[24, 35, 70, 155]

### With a given tuple (1,2,3,4,5,6,7,8,9,10), write a program to print the first half values in one line and the last half values in one line.

In [22]:
x1 = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
half = int(len(x1)/2)
print(x1[:half], x1[half:])

(1, 2, 3, 4, 5) (6, 7, 8, 9, 10)

### Write a program to generate and print another tuple whose values are even numbers in the given tuple (1,2,3,4,5,6,7,8,9,10)

In [29]:
x2=(1,2,3,4,5,6,7,8,9,10)
x3=[]
for i in range(len(x2)):
    if x2[i]%2==0:
        x3.append(x2[i])
        x4=tuple(x3)
print(x4)

(2, 4, 6, 8, 10)

# [Innomatics Research Labs](https:/innomatics.in/)
[www.innomatics.in](https:/innomatics.in/)